<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="text-align: center;">
        <h1>👍</h1>
        <img style="max-width: 500px;" src="https://www.insidermemes.com/_next/image?url=https%3A%2F%2Finsidermemes-prod-bucket.sfo3.digitaloceanspaces.com%2Finsidermemes-prod-bucket%2Fpublic%2F2025_07_24_14_40_43_594194_IMG_6219.jpeg&w=3840&q=75" alt="">
    </div>
</body>

</html>
